#partners-list-slider .swiper-container {
    overflow: visible !important;
    display: flex;
    flex-direction: column;
}

#partners-list-slider .swiper-wrapper {
    display: flex;
    align-items: stretch;
    padding-bottom: 100px;
    order: 1;
}

#partners-list-slider .swiper-pagination {
    position: static;
    order: 2;
    line-height: 0;
    display: none;
}

#partners-list-slider .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 3px;

    background-color: #c6cae2;
    opacity: 1;
}

#partners-list-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f9365e;
    width: 16px;
    border-radius: 100px;
}

#partners-list-slider .swiper-button-prev {
    top: auto;
    bottom: 0;
    left: auto;
    right: 62px;
    width: 42px;
    height: 42px;
    border: 2px solid #d9dbe9;
    border-radius: 50%;
    transform: none;
    margin: 0%;
}

#partners-list-slider .swiper-button-prev::after {
    font-size: 0;
    line-height: 0;
    width: 18px;
    height: 16px;
    background-image: url('../images/arrow_left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#partners-list-slider .swiper-button-next {
    top: auto;
    right: 0px;
    bottom: 0;
    width: 42px;
    height: 42px;
    border: 2px solid #d9dbe9;
    border-radius: 50%;
    transform: none;
    margin: 0%;
}

#partners-list-slider .swiper-button-next::after {
    font-size: 0;
    line-height: 0;
    width: 18px;
    height: 16px;
    background-image: url('../images/arrow_right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    #partners-list-slider .swiper-wrapper {
        padding-bottom: 20px;
    }

    #partners-list-slider .swiper-button-prev {
        top: -97px;
        left: auto;
        right: 62px;
        width: 42px;
        height: 42px;
    }

    #partners-list-slider .swiper-button-next {
        top: -97px;
        right: 0px;
        width: 42px;
        height: 42px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #partners-list-slider .swiper-wrapper {
        padding-bottom: 20px;
    }

    #partners-list-slider .swiper-button-prev {
        top: -97px;
        left: auto;
        right: 62px;
        width: 42px;
        height: 42px;
    }

    #partners-list-slider .swiper-button-next {
        top: -97px;
        right: 0px;
        width: 42px;
        height: 42px;
    }
}

@media only screen and (max-width: 767px) {
    #partners-list-slider .swiper-button-next {
        display: none;
    }

    #partners-list-slider .swiper-button-prev {
        display: none;
    }

    #partners-list-slider .swiper-pagination {
        display: block;
    }

    #partners-list-slider .swiper-wrapper {
        display: flex;
        align-items: stretch;
        padding-bottom: 0;
        margin-bottom: 30px;
        order: 1;
    }
}
