.Sidebar{
    max-width: 298px;
    width: 100%;
    padding-top: 100px;
}

.Reset{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #F9365E;
    margin-bottom: 50px;
}