@import '../../../../css/common.scss';

.Section {
    padding: 100px 0;
}

.Title {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    color: #14142b;
    margin-bottom: 50px;
}

.Items {
    display: flex;
}

.Slider {
    display: none;
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
    .Section {
        padding: 80px 0;
    }

    .Title {
        font-size: 60px;
        line-height: 60px;
    }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
    .Section {
        padding: 80px 0;
    }

    .Title {
        font-size: 50px;
        line-height: 50px;
    }
}

@media only screen and (max-width: $mobile) {
    .Section {
        padding: 50px 0;
    }

    .Title {
        font-size: 33px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    .Items {
        display: none;
    }

    .Slider {
        display: block;
    }

    .Slide {
        width: 100%;
        max-width: 270px;
    }
}
