.Features{
    max-width: 435px;
    max-height: 502px;
    width: 100%;
    background: #F7F7FC;
    padding: 80px 64px;

    h3{
        font-weight: 700;
        font-size: 28px;
        line-height: 130%;
        color: #14142B;
        margin-bottom: 46px;
    }
}

.Text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Left{
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #A0A3BD;
    }

    .Right{
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #14142B;
    }
}

.Price{
    display: flex;
    align-items: center;
    gap: 15px;

    .Count{
        font-weight: 700;
        font-size: 18px;
        line-height: 170%;
        color: #14142B;
    }

    button{
        max-width: 74px;
        min-width: 74px;

        span{
            font-weight: 600;
            font-size: 14px;
            line-height: 170%;
            color: #14142A;
        }
    }
}